<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-18482781-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-18482781-2');
	</script>

	<meta charset="utf-8">

	{% if site.title != page.title %}
		{% assign page_title = site.title | append: ": " | append: page.title %}
	{% else %}
		{% assign page_title = site.title %}
	{% endif %}

	<title> {{ page_title }} </title>
	<meta name="description" content="{{ page.title }}">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{{ site.github.url }}/assets/css/style.css">
</head>
