---
---

@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:700');

/* CSS reset inspired from https://github.com/vladocar/CSS-Mini-Reset/blob/master/CSS-Mini-Reset.css */
html, body, div, form, fieldset, legend, label {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th, td {
	text-align: left;
	vertical-align: top;
}

img { border: 0; }

/* Own CSS */
body { color: #777; }

a.button {
	background-color: #272890;
	border: 2px solid #aaa; 
	color: #aaa;
	text-transform: uppercase;
}

#page {
	font-family: sans-serif;
	margin: 50px auto;
	max-width: 920px;
}
#left-logo {
	position: fixed;
	top: 50px;

	svg {
		height: 50%; 
		width: 50%;
	}
}

#intro {
	font-size: 1.5em;
	margin-top: 50px;
}

#about-me { 
	font-size: 1.5em; 
	
	img {
		display: block;
		margin: 30px auto;
		width: 150px;

		&.round-border {
			border: 3px solid #999;
			border-radius: 50%;
		}
	}
}

#content { margin-left: 150px; }

#context {
	background-color: #ddd;
	float: right;
	margin: 0 0 20px 20px;
	padding: 15px;
	width: 260px;
}

section {
	margin-bottom: 20px;
	overflow: hidden;

	&.project {
		margin: 100px auto;

		a {
			display: block;
		}

		img {
			border: 1px solid #ccc;
			display: block;
			margin: 20px auto;
			width: 300px;
		}
	}

	#intro h2 {
		font-size: 24px;
		margin: 0 auto;
		text-align: center;
		width: 300px;
	}

	a {
		font-weight: bold;
		margin: 0 auto;
		padding-bottom: 10px;
		padding-top: 10px;
		text-align: center;
		width: 300px;
	}
}

div.left {
	float: left;
}

dl { margin:0; }
dd, dt { display: inline; }
dd {
	margin-left: 5px;

	&::after {
	    display: block;
	    content: '';
    }
}

div.text-left, figure.img-left{
	float: left;
}

div.text-left { width: 390px; }

figure {
	background-color: #eee;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;

	&+figure:not(.img-left) {
		clear: both;
	}

	img { 
		border: 1px solid #ddd;
		margin-bottom: 5px;
	}
}

.img-left {
	padding: 5px;
	width: 380px;

 	img {
		width: 378px;
	}
}

.img-right {
	float: right;
	margin-left: 15px;
	padding: 5px;
	width: 348px;

	img { width: 347.5px; }
}

.whole {
	padding: 5px;
	img { width: 758px; }
}

.whole-two {
	background-color: #eee;
	overflow:hidden;
	padding: 5px;

	>* {	
		&:first-child { float: left; }
		&:nth-child(2) { float: right; }
	}

	& > img {
		width: 377px; 
	}
   
    .box {
    	padding: 20px;
    	width: 337px;

    	& + figcaption { 
    		margin-left: 8px;
    		margin-top: 8px;
    	}
    }
}

.whole-five {
	figcaption { margin-left: 8px; }
	img {
		float: left;
		margin: 5px 1px;
		width: 147px;
	}

	&.three {
		margin: 0 auto 10px;
		width: 467px;
		&>img:first-child { margin-left: 8px; }
	}

	&.four {
		margin: 0 auto 10px;
		width: 618px;
		&>img:first-child { margin-left: 8px; }
	}

	&.five {
		&>img:first-child { margin-left: 8px; }
	}
}

.box { border: 1px solid #aaa; }
.small { width: 150px; }
.right { float: right; }

dl { 
	margin-bottom: 20px;
	margin-top: 20px;
	line-height: 20px; 
}

figcaption { display: inline-block; }

table, th, td {
	border: 1px solid #aaa;
	padding: 10px; 
}

th { text-align: center; }
