---
---

@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:700|Palanquin+Dark');

$text-color: #aaa;
$text-dark-color: #555;
$text-light-color: #eee;
$contrast-color: #272890;
$envision-color: #73d6fa;
$design-color: #cf53d5;
$code-color: #eda840;

$font-logo: 'Source Serif Pro', sans-serif;
$font-sans-serif: 'Palanquin Dark', sans-serif;

/* CSS reset inspired from https://github.com/vladocar/CSS-Mini-Reset/blob/master/CSS-Mini-Reset.css */
html, body, div, form, fieldset, legend, label {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th, td {
	text-align: left;
	vertical-align: top;
}

img { border: 0; }

/* Own CSS */
/* Main page layout */
body {
	color: $text-color;
	font-family: $font-sans-serif;
    line-height: 1.2;
}

header {
	position: relative;

	h1 { position: absolute; }
}

footer {
    border-top: 2px solid $text-light-color;
	float: right;
    margin: 50px 0;
}

#intro-page, #page {
	margin: 0 auto;

	&.whole {
		max-width: 960px;
		padding: 0 10%;

		#content { margin-top: 160px; }
	}
}

h1, h2, h3, figcaption {
	color: $contrast-color;
	font-family: $font-logo;
}
h1 { text-transform: uppercase; }
h2 { font-size: 20px }
h4 {
	clear: both;
	text-transform: uppercase;
}

a {
	&, &.button {
		color: $contrast-color;

		&:link { color: $text-color; }
		&:visited { color: $text-dark-color; }
		&:hover { color: $text-dark-color; }
	}
}

#left-logo {
	position: fixed;
	z-index: 100;
}

section {
	margin-bottom: 20px;
	overflow: hidden;

	&#about-me h2 {
		font-size: 20px;
		margin: 0 auto;
		text-align: center;
		text-transform: uppercase;
	}

	&.project {
		margin: 100px auto;
		padding: 20px;

		h2 {
			font-size: 20px;
			text-transform: uppercase;
		}

		a {
			display: inline-block;
			font-weight: bold;
		}
	}
}

svg text { opacity: 0.4; }
svg.envision text[data-id="envision"],
svg.design text[data-id="design"],
svg.code text[data-id="code"] {
	opacity: 1;
	transition: "all 2s";
}

.align {
	margin: 0 auto;
	text-align: center;
}

.fixed {
	position: fixed;
	z-index: 100;
}

a.button {
	border: 2px solid $contrast-color;
	color: #aaa;
	margin-top: 20px;
	padding: 10px;
	text-transform: uppercase;
	text-align: center;
}

#about-me img {
	display: block;
	margin: 30px auto;
	width: 150px;

	&.round-border {
		border: 3px solid $text-color;
		border-radius: 50%;
	}
}

/* Project page layout */
#logo-title {
	background-color: #fff;
	border-bottom: 2px solid $text-light-color;
	height: 120px;
	position: fixed;
	width: 80%;
	z-index: 100;
	margin-bottom: 0;
	margin-left: -5%;
	margin-top: 0;
	padding-left:5%;
	padding-top: 20px;
	top: 0;

	svg {
		float: left;
		margin-right: 20px;
		width: 100px;
	}
}

#context {
	background-color: $text-light-color;
	padding: 15px;
	max-width: 400px;

	dt { color: $contrast-color; }
}

div.left {
	float: left;
}

dl {
	line-height: 20px;
	margin:0;
}

dd, dt {
	display: inline;
	padding-bottom: 5px;
}
dd {
	margin-left: 5px;

	&::after {
	    display: block;
	    content: '';
    }
}
dt {
	font-weight: bold;
	line-height: 1.5;
}

figure {
	margin: 0;
	margin-bottom: 10px;
	overflow: hidden;
	padding: 5px;

	&.fill { background-color: $text-light-color; }

	& + figure {
		clear: both;
	}

	&.float-right + figure.float-left { clear: none; }

	h4 { margin-left: 20px; }
}

blockquote {
	border-left: 7px solid #text-contrast;
	float: right;
	margin: 0;
	padding-left: 5%;
	width: 45%;

	&::after { content: close-quote; }
	&::before { content: open-quote; }
}

.bold { font-weight: bold; }

.img-left {
	padding: 5px;
	width: 380px;

 	img {
		width: 378px;
	}
}

.list-table {
	line-height: 1.2;
	padding: 0 40px;
}

.whole {
	padding: 5px;

	img { width: 100%; }
}

.whole-five {
	img { float: left; }

	&.five {
		margin-bottom: 20px;

		img { width: 20%; }
	}

	&.four {
		margin: 0 10% 20px;

		img { width: 25%; }
	}

	&.three {
		margin: 0 20% 20px;

		img { width: 33.333%; }
	}
}

.box {
	background-color: #fff;
	padding: 2.5%;

	dl { margin-top: 20px; }

	img {
		float: left;
		margin-bottom: 5%;
		margin-right: 5%;
		width: 40%;
	}
}

.small { width: 150px; }
.right { float: right; }

figcaption {
	display: inline-block;
	float: right;
	font-size: 10px;
	font-weight: bold;
	margin-top: 5px;
	text-transform: uppercase;
}

table, th, td {
	border: 1px solid $text-color;
	padding: 10px; 
}

th { text-align: center; }

.subtitle {
	display: inline-block;
	font-size: 12px;
	padding-top: 10px;
}

.envision, .design, .code { font-family: $font-logo; }
.envision { color: $envision-color; }
.design { color: $design-color; }
.code { color: $code-color; }

@media (min-width: 600px) {
	header h1 {
		bottom: 0;
		font-size: 20px;
		left: 30%;
		margin-right: 20%;
		text-align: center;
	}

	section.project {
		.float-left { width: 40%; }
		img.float-right { width: 55%; }
	}

	#intro-page, #page {
		&.left-whole {
			max-width: 960px;
			padding-left: 10%;
			padding-right: 10%;
		}
	}

	#left-logo {
		width: 120px;
	}

	#left-col-placeholder {
		float: left;
		margin-right: 6%;
		width: 120px;
	}

	#content {
		margin-top: 5%;
		overflow: hidden;
	}

	#intro {
		font-size: 1.5em;
	}

	.float-right {
		float: right;
		margin: 0 0 5% 5%;
		width: 35%;

		img { width: 100%; }
	}

	.float-left {
		float: left;
		width: 56%;
	}

	.whole-two {
		&>img {
			float: left;
			width: 49.25%;

			&:first-child { margin-right: .5%; }
		}

		.box {
			float: left;
			width: 44.5%;

			&:first-child { margin-right: 1%; }
		}

	}

	.list-table {
	    column-count: 2;
	    column-gap: 50px;
		-moz-column-count: 2;
	    -moz-column-gap: 50px;
		-webkit-column-count: 2;
		-webkit-column-gap: 50px;
	}

	.text-med { font-size: 1.5em; }
}

@media (max-width: 600px) {
	header h1 {
		bottom: 5px;
		font-size: 15px;
		left: 140px;
	}

	section.project {
		.float-left { float: none; }
		img.float-right {
			margin-bottom: 20px;
			width: 100%;
		}
	}

	#intro-page, #page {
		&.left-whole {
			padding: 0 10%;
			position: absolute;
		}
	}

	#left-col-placeholder {
		height: 0;
	}

	#left-logo {
		background-color: #fff;
		border-bottom: 2px solid $text-light-color;
		height: 120px;
		margin: 0 5%;
		margin-left: -5%;
		position: fixed;
		width: 90%;
		z-index: 100;

		#logo {
			left: 50%;
			margin: 20px 0 20px -40px;
			position: fixed;
			width: 80px;
			z-index: 100;
		}
	}

	#content { margin-top: 120px; }

	.float-right img {
		width: 100%;
	}

	.box + .box { margin-top: 1.25%; }


	.list-table {
	    column-count: 1;
	    column-gap: 50px;
		-moz-column-count: 1;
	    -moz-column-gap: 50px;
		-webkit-column-count: 1;
		-webkit-column-gap: 50px;
	}

	.text-med { font-size: 1.1em; }
}
