---
---
/* CSS reset inspired from https://github.com/vladocar/CSS-Mini-Reset/blob/master/CSS-Mini-Reset.css */
html, body, div, form, fieldset, legend, label {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
ol { padding-left: 0; }

.page-width {
	margin: 0 auto;
	max-width: 960px;
}
th, td {
	text-align: left;
	vertical-align: top;
}

img { border: 0; }

/* Own CSS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800|Patua+One|Baloo+Tamma|Leckerli+One');

@font-face {
	font-family: MADE-Likes-Slab;
	src: url("MADE-Likes-Slab.otf") format("opentype");
}

$text-color: #aaa;
$text-dark-color: #999;
$text-darker-color: #555;
$text-light-color: #eee;

$code-color: #eda840;
$contrast-color: #272890;
$design-color: #ef2fd5;
$envision-color: #2fd5ef;
$locally-color: #ff2906;

$background-color: #fff;

$font-locally: 'Leckerli One', serif;
$font-logo: 'Baloo Tamma', sans-serif;
$font-sans-serif: 'Open Sans', sans-serif;
$font-serif: 'Patua One', serif;

/* Main page layout */
body {
	color: $text-color;
	font-family: $font-serif;
    line-height: 1.5;
}

figure { width: 100%; }
img { width: 100%; }

.back-page { background-color: $background-color; }
.bigger { font-size: 25px; }
.biggest { font-size: 40px; }
.block { display: block; }
.bold { font-weight: bold; }
.bord-bot { border-bottom: 2px solid $text-light-color; }
.box-shad { box-shadow: 0 1px 4px rgba(0,0,0,0.2); }
.center {
	margin: 0 auto;
	text-align: center;
}
.contrast { color: $contrast-color; }
.fixed {
	position: fixed;
	top: 0;
	z-index: 100;
}
.font-locally {
	color: $locally-color;
	font-family: $font-locally;
	text-transform: none;
}
.font-med { font-size: 12px; }
.left { float: left; }
.logo-align {
	display: inline-block;
	margin-bottom: 30px;
	margin-top: 13px;
}
.logo-small {
	&.left {
		margin-bottom: -13px;
		margin-right: 5px;
	}

	svg { width: 150px; }
}
.marg-bot-s { margin-bottom: 20px; }
.marg-bot-m { margin-bottom: 50px; }
.marg-bot-xl { margin-bottom: 100px; }
.no-dec { text-decoration: none }
.page-cont { margin: 70px 20px 0 20px; }
.serif { font-family: $font-serif; }
.text-trans-none { text-transform: none; }

.wave {
	margin: -5px 0 0 20px;
	position: absolute;
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	transform: rotate(-20deg);
	-webkit-animation: wink 0.7s alternate infinite; /* Safari 4+ */
	-moz-animation: wink 0.7s alternate infinite; /* Fx 5+ */
	-o-animation: wink 0.7s alternate infinite; /* Opera 12+ */
	animation: wink 0.7s alternate infinite 6; /* IE 10+, Fx 29+ */
	-webkit-animation-iteration-count: 6;
	-moz-animation-iteration-count: 6;
	-o-animation-iteration-count: 6;
	animation-iteration-count: 6;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-animation-timing-function: ease; /* Chrome, Safari, Opera */
	animation-timing-function: ease;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes wink {
	0% {
		-webkit-transform: rotate(-20deg);
		-moz-transform: rotate(-20deg);
		-o-transform: rotate(-20deg);
		-ms-transform: rotate(-20deg);
	}

	100% {
		-webkit-transform: rotate(20deg);
		-moz-transform: rotate(20deg);
		-o-transform: rotate(20deg);
		-ms-transform: rotate(20deg);
		transform: rotate(20deg);
	}
}

/* Standard syntax */
@keyframes wink {
	0% {
		-webkit-transform: rotate(-20deg);
		-moz-transform: rotate(-20deg);
		-o-transform: rotate(-20deg);
		-ms-transform: rotate(-20deg);
		transform: rotate(-20deg);
	}

	100% {
		-webkit-transform: rotate(20deg);
		-moz-transform: rotate(20deg);
		-o-transform: rotate(20deg);
		-ms-transform: rotate(20deg);
		transform: rotate(20deg);
	}
}

a {
	&.button {
		text-decoration: none;

		&:hover {
			border: 2px solid $contrast-color;
			color: darken($contrast-color, 20%);
		}

		&:active {
			position: relative;
			top: 1px;
		}
	}

	&:link { color: $text-color; }
	&:visited { color: $text-darker-color; }
	&:hover { color: darken($text-darker-color, 20%); }
}

.logo-left-inline {
	display: inline;

	svg {
		float: left;
		margin: 0 10px 5px 0;
		width: 170px;
	}
}

.mid-p {
	margin: 0 auto;
	max-width: 500px;
	text-align: center;
}

dd {
	text-transform: capitalize;
	float: left;
	margin: 0;
	padding:0 0 5px 0;
	width: 70%;
}

dl {
	margin: 0;
	overflow: hidden;
	padding: 0;
}

dt {
	clear: both;
	color: $contrast-color;
	float: left;
	font-weight: bold;
	margin: 0 5px 0 0;
	padding: 0;
	text-transform: capitalize;
}

/** REDO **/
nav {
	font-family: $font-sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin-top: 14px;

	ol {
		float: right;
		margin: 0;
	}

	li {
		display: inline;
		margin-left: 15px;
		text-transform: lowercase;

		a {
			text-decoration: none;

			&:link, &:visited { color: $text-color; }
			&:hover { color: $contrast-color; }
			&:active {
				position: relative;
				top: 1px;
			}
			&.active {
				color: $contrast-color;
				pointer-events: none;
			}
		}
	}
}

li { list-style-color: $contrast-color; }

footer {
    border-top: 2px solid $text-light-color;
    font-size: 12px;
    margin: 50px 0;
    padding-top: 15px;
}

h1, h2, h3, figcaption {
	color: $contrast-color;
	font-family: $font-sans-serif;
}
h1 {
	font-family: $font-serif;
	text-transform: uppercase;
}
h2 { font-size: 20px }
h4 {
	clear: both;
	text-transform: uppercase;
}

em {
	color: $text-dark-color;
	font-style: normal;
	font-weight: bold;

	a { color: $text-dark-color; }
}

section {
	overflow: hidden;

	&#about-me h2 {
		font-size: 20px;
		margin: 0 auto;
		text-align: center;
		text-transform: uppercase;
	}

	&.project {
		margin: 100px auto;
		padding: 20px;

		h2 { font-size: 20px; }

		a {
			display: inline-block;
			font-weight: bold;
		}
	}
}

a.button {
	border: 2px solid $text-color;
	color: $text-darker-color;
	margin-top: 20px;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
}

#about-me img {
	display: block;
	margin: 30px auto;
	width: 150px;

	&.round-border {
		border: 3px solid $text-color;
		border-radius: 50%;
	}
}

#context {
	background-color: rgba(255,255, 255,0.7);
	padding: 15px;
}

figure {
	margin: 0;
	margin: 50px 0;
	overflow: hidden;

	& + figure {
		clear: both;
	}

	h4 { margin-left: 20px; }
}

blockquote {
	border-left: 7px solid #text-contrast;
	float: right;
	margin: 0;
	padding-left: 5%;
	width: 45%;

	&::after { content: close-quote; }
	&::before { content: open-quote; }
}

ul.boxes {
	padding-left: 0;

	& > li {
		border: 2px solid $text-darker-color;
		display: inline-block;
		float: left;
		margin-bottom: 20px;
		margin-right: 20px;
		padding: 10px 20px;

		&:last { margin-right:0; }

		h5 {
			color: $text-darker-color;
			margin: 10px 0;
		}

		li { list-style-type: none; }

		ul { padding-left: 0; }
	}
}

.img-left {
	padding: 5px;
	width: 380px;

 	img {
		width: 378px;
	}
}

.list-table {
	line-height: 1.2;
	padding: 0 40px;
}

.whole-five {
	img { float: left; }

	&.five {
		margin-bottom: 20px;

		img { width: 20%; }
	}

	&.four {
		margin: 0 10% 20px;
		width: 80%;

		img { width: 25%; }
	}

	&.three {
		margin: 0 20% 20px;
		width: 60%;

		img { width: 33.333%; }
	}
}

.whole-pad {
	box-sizing: border-box;
	padding: 10px 20px;
	width: 100%;
}

.box {
	border: 3px solid $text-light-color;
	padding: 2.5%;

	dl { margin-top: 20px; }

	img {
		float: left;
		margin-bottom: 5%;
		margin-right: 5%;
		width: 40%;
	}
}

.small { width: 150px; }
.right { float: right; }

figcaption {
	display: inline-block;
	float: right;
	font-size: 10px;
	font-weight: bold;
	margin-top: 5px;
	text-transform: uppercase;
}

table, th, td {
	border: 1px solid $text-color;
	padding: 10px; 
}

th { text-align: center; }

.subtitle {
	display: inline-block;
	font-size: 12px;
	padding-top: 10px;
}

.envision, .design, .code { font-family: $font-logo; }
.envision { color: $envision-color; }
.envision-border-top { border-top: 4px solid $envision-color; }
.design { color: $design-color; }
.design-border-top { border-top: 4px solid $design-color; }
.code { color: $code-color; }
.code-border-top { border-top: 4px solid $code-color; }

.context {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;

	&#locally {
		background-image:
			linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
			url("{{ site.baseurl }}/_projects/locally/locally-showcase.png");

	}

	&#valeriegaimon {
		background-image:
			linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)),
			url("{{ site.baseurl }}/_projects/valerieGaimon/valerie-gaimon-showcase.png");
	}

	&#examinercom {
		background-image:
			linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)),
			url("{{ site.baseurl }}/_projects/examinerCom/examinercom-new-mobile-desktop.png");
	}
}

@media (min-width: 700px) {
	header h1 {
		bottom: 0;
		font-size: 18px;
	}

	section.project {
		.float-left { width: 40%; }
		img.float-right { width: 55%; }
	}

	#left-logo {
		width: 120px;
	}

	#left-col-placeholder {
		float: left;
		margin-right: 6%;
		width: 120px;
	}

	#content { overflow: hidden; }

	.col-left {
		float: left;
		width: 40%;
	}

	.col-right { overflow: hidden; }

	.eighty-to-full { width: 80%; }

	.float-right {
		float: right;
		margin: 0 0 5% 5%;
	}

	.marg-ver {
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.three-to-one {
		overflow: hidden;

		section {
			box-sizing: border-box;
			float: left;
			width: 32%;

			&:first-child, &:nth-child(2) { margin-right: 2%; }
		}
	}

	.whole-two {
		&>img {
			float: left;
			width: 49.25%;

			&:first-child { margin-right: .5%; }
		}

		.box {
			float: right;
			width: 43%;

			&:first-child {
				float: left;
				margin-right: 1%;
			}
		}

	}

	.list-table {
	    column-count: 2;
	    column-gap: 50px;
		-moz-column-count: 2;
	    -moz-column-gap: 50px;
		-webkit-column-count: 2;
		-webkit-column-gap: 50px;
	}

	.long { width: 60%; }
	.text-med { font-size: 1.5em; }
}

@media (max-width: 700px) {
	.long { width: 100%; }

	.marg-ver {
		margin-bottom: 20px;
		margin-top: 100px;
	}

	header h1 {
		bottom: 5px;
		font-size: 15px;
		left: 140px;
	}

	section.project {
		.float-left { float: none; }
		img.float-right {
			margin-bottom: 20px;
			width: 100%;
		}
	}

	#left-col-placeholder {
		height: 0;
	}

	#left-logo {
		background-color: #fff;
		border-bottom: 2px solid $text-light-color;
		height: 120px;
		margin: 0 5%;
		margin-left: -5%;
		position: fixed;
		width: 90%;
		z-index: 100;

		#logo {
			left: 50%;
			margin: 20px 0 20px -40px;
			position: fixed;
			width: 80px;
			z-index: 100;
		}
	}

	.float-right img {
		width: 100%;
	}

	.box + .box { margin-top: 1.25%; }


	.list-table {
	    column-count: 1;
	    column-gap: 50px;
		-moz-column-count: 1;
	    -moz-column-gap: 50px;
		-webkit-column-count: 1;
		-webkit-column-gap: 50px;
	}

	.text-med { font-size: 1.1em; }
}
