<!DOCTYPE html>
<html lang="en">
	{% include head.html %}

	<body>
		<header class="back-page box-shad fixed whole-pad">
				{% for type in page.data-types %}
					{% assign types = types | append: " " | append: type %}
				{% endfor %}
				{% if types %}
					{% assign types = types | lstrip %}
				{% endif %}
				<div  class="logo-left-inline" class="{{ types }} left">
					<a href="{{ site.github.url }}">
						{% include logo_inline.svg %}
					</a>
					{% include nav.html %}
				</div>
		</header>
		<div id="page" class="page-width">
			<div id="content" class="page-cont">
				{{ content }}
				{% include footer.html %}
			</div>
		</div>
	</body>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-18482781-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-18482781-2');
	</script>

</html>
