<!DOCTYPE html>
<html lang="en">
	{% include head.html %}

	<body>
		{% if page.permalink == "/" %}
			{% assign id = "intro-page" %}
		{% else %}
			{% assign id = "page" %}
		{% endif %}
		<div id="{{ id }}" class="left-whole">
			<header id="left-logo">
				<div id="logo" class="envision design code">
					<a href="{{ site.github.url }}">
						{% include logo.svg %}
					</a>
				</div>
			</header>
			<!-- Need to create fake column to imitate left column of logo -->
			<div id="left-col-placeholder">
				<svg viewBox="0 0 216 216" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>
			</div>
			<div id="content">
				{{ content }}
			{% include footer.html %}
			</div>
		</div>
	</body>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-18482781-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-18482781-2');
	</script>
</html>
