<!DOCTYPE html>
<html lang="en">
	{% include head.html %}

	<body>
		<div id="page" class="whole">
			<header id="logo-title">
				<a href="{{ site.github.url }}">
					{% for type in page.data-types %}
						{% assign types = types | append: " " | append: type %}
					{% endfor %}
					{% if types %}
						{% assign types = types | lstrip %}
					{% endif %}

					<div id="logo" class="{{ types }}">{% include logo_inline.svg %}</div>
				</a>
			</header>
			<div id="content">
				{{ content }}
			{% include footer.html %}
			</div>
		</div>
	</body>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-18482781-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-18482781-2');
	</script>

</html>
